:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
    --black-color:#000000;
    --primary-background-color: #F5F5F5;
    --hero-footer-color:#2F303A;
    --bcg-button-portfolio:#F5F4FA;
}
h1,
h2,
h3,
h4,
h5,
h6
ul,
p{
    margin: 0;
}
ul{
    padding-left: 0;
}

.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Шапка секція */
.header-container{
    display: flex;
    align-items: center;
}
.header{
    padding-bottom: 25px;
    padding-top: 24px;
}
.link{
    color: var(--primary-text-color);
}
.header-item:not(:first-child){
    margin-left: 50px;
}

.list{
    list-style: none;
     }
.list-header{
    display: flex;
}
.logo-part{
    color: var(--accent-color);
}
.logo{
    color: var(--black-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 94px;
    display: block;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.link{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link.current{
    color: var(--accent-color);
}
.contact-wrap{
    margin-left: auto;
}
.phone-footer{
    margin-left: 50px;
}
.link.mail-footer.phone-footer{
    color: var(--secondary-text-color);
}
/* Герой секція */
.hero{
    background-color: var(--hero-footer-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    }
    .hero-wrap{
        padding: 200px 452px;
    }
.hero-button{
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    margin-left: 692px;
}
/*Особливості секція*/

.features-section{
    padding: 94px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list{
    display: flex;
}
.features-item{
    width: calc((100%/-90px)/4);
}
.features-item:not(:first-child){
    margin-left: 30px;
}
.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Чим ми займаємось секція */
.what-we-do-section{
    padding: 94px 0;
}
.main-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.what-we-do-list{
    display: flex;
}
.what-we-do-items{
    width: calc((100%-60px)/3);
}
.what-we-do-items:not(:first-child){
    margin-left: 30px;
}

/* Наша команда секція */
.our-team-section{
    padding: 94px 0;
}
.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.our-team-list{
    display: flex;
}
.our-team-item{
    width: calc((100%-90px)/4);
}
.our-taem-item:not(:first-child){
    margin-left: 30px;
}
.our-team-wrap{
    padding: 30px 70px;
}
.team-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Підвал */
.footer{
    background-color: var(--hero-footer-color);
    color: var(--primary-white-color);
    padding: 0 0 60px 0;
}
.logo-footer{
    color: var(--primary-white-color);
    display: block;
    padding: 60px 0 20px 0;
}
.footer-list:not(:first-child){
    margin-top: 9px;
}
.adress{
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--primary-white-color);
}
.email-phone{
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/* Portfolio */
.button-portfolio{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--bcg-button-portfolio);
}
.button-portfolio:hover,
.button-portfolio:focus{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}